.content {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  margin: 20px 0;
}
.title {
  display: flex;
  color: rgb(0, 0, 110);
}
.name {
  display: flex;
  margin-top: 5px;
  color: gray;
}

.commentText {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.submitBtn {
  width: 100px;
  margin-top: 10px;
}
.reply {
  display: flex;
  margin-top: 20px;
  color: rgb(0, 0, 110);
}
.replyText {
  display: flex;
  margin-top: 10px;
  padding-bottom: 2px;
  color: gray;
  border-bottom: 1px solid gray;
}
